<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.co.kc.imchat.service.social.infrastructure.mybatis.mapper.DbImGroupMapper">
    <select id="selectByUserId" resultType="com.co.kc.imchat.service.social.infrastructure.mybatis.entity.DbImGroup">
        SELECT db_im_group.id,
               db_im_group.group_id,
               db_im_group.owner_id,
               db_im_group.name,
               db_im_group.notification,
               db_im_group.member_count,
               db_im_group.status,
               db_im_group.create_time,
               db_im_group.update_time,
               db_im_group.is_deleted
        FROM db_im_group
                 INNER JOIN db_im_group_member ON db_im_group_member.group_id = db_im_group.group_id
        WHERE db_im_group_member.user_id = #{userId}
          AND db_im_group.is_deleted = 0
          AND db_im_group_member.is_deleted = 0
    </select>
</mapper>
